extends layout
block content
  h1 inscription
  form(method="post", action="/inscription/inscrit" )
    .form-group.col-md-6
      label(for='email') Email
      input#inputEmail4.form-control(placeholder='Email', name="email", type='email')
    .form-group.col-md-6
      label(for='password') Password
      input#inputPassword4.form-control(placeholder='Password',name="password", type='password')
      label(for='address') Address
      input#inputAddress.form-control(placeholder='1234 Main St',name='address' type='text')
      label(for='address2') Address 2
      input#inputAddress2.form-control(placeholder='Apartment, studio, or floor', name='address2',type='text')
      label(for='city') City
      input#inputCity.form-control(type='text')
      label(for='state') State
      select#inputState.form-control
        option(selected='',name='state') Choose...
        option ...
      label(for='zip') Zip
      input#inputZip.form-control(type='text',name='zip')
      button.btn.btn-primary(type='submit') envoyer
